{% extends 'base.html.twig' %}

{% block body %}
<div class="card-panel light-blue darken-4"><h1>Bienvenue sur AddressBook!</h1></div>
<p><h4>Creer votre compte et <b><a href="/adressbook">acceder au carnet d'adresse</a></b> pour ajouter vos contact et/ou les modifier </h4></p>
{% endblock %}
